body {
    margin: 0;
    padding: 0;
    background: #e9e9ed;
}

#container {
    background: #faf7f3;
    border-radius: 16px;
    box-shadow: 0 0 10px #c3c3c3;
    position: fixed;
    overflow: hidden;
}
